<!DOCTYPE html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'>
    <link rel="stylesheet" href="~/css/style.css">
    <title>@ViewBag.Title</title>
</head>
<body>
    <nav class="navbar navbar-inverse">
        <div class="container-fluid">
            <ul class="nav navbar-nav">
                <li class="navbarbrand heading">@Html.ActionLink("MarioFoods", "Index", "Home")</li>
            </ul>
            <ul class="nav navbar-nav navbar-right">

                @if (User.Identity.IsAuthenticated)
                {
                    <li class="user-nav">Hello @User.Identity.Name</li>
                    <li>@Html.ActionLink("Products", "Index", "Product")</li>
                    @Html.ActionLink("", "Index", "Profile")
                    <li>
                        @using (Html.BeginForm("LogOff", "User"))
                        {
                            <input type="submit" class="logoff" value="Log off" />
                        }
                    </li>
                }
                else
                {
                    <li>@Html.ActionLink("Products", "Index", "Product")</li>
                    <li>@Html.ActionLink("SignUp", "SignUp", "User")</li>
                    <li>@Html.ActionLink("Log in", "Login", "User")</li>
                }
            </ul>
        </div>
    </nav>
    <div>
        @RenderBody()
    </div>
</body>