@model FritoLay.Models.Product
@using System.Security.Claims
@using FritoLay.Models

@{
    ViewData["Title"] = "Product-Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<hr /><hr />
<div class="well">
    
    @if (User.Identity.IsAuthenticated)
    {
        <h2>Add A New Product</h2>

        @using (Html.BeginForm("Create", "Product", FormMethod.Post, new { enctype = "multipart/form-data" }))
        {
            @Html.LabelFor(model => model.ProductName)
            @Html.EditorFor(model => model.ProductName)

            @Html.LabelFor(model => model.CountryOfOrigin)
            @Html.EditorFor(model => model.CountryOfOrigin)

            @Html.LabelFor(model => model.Cost)
            @Html.EditorFor(model => model.Cost)

            <input type="submit" value="Create" class="btn btn-default" />
        }
    }
    else
    {
        <h3>@Html.ActionLink("Sign up", "SignUp", "User")</h3>
        <h3>@Html.ActionLink("Log in", "Login", "User")</h3>
    }
    <button>@Html.ActionLink("Back to Products", "Index")</button>
</div>