@model FritoLay.Models.Product
@using FritoLay.Models

@{
    ViewData["Title"] = "Product - Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
    <script type="text/javascript">

        $(document).ready(function () {
            $('.createReview').click(function () {
                 $.ajax({
                    type: 'GET',
                    dataType: 'html',
                    url: '@Url.Action("CreateReview")/@Model.ProductId',
                    success: function (result) {
                        $('#reviewadd').html(result);
                     }
                    });
              });
		});
    </script>
</head>
<body>
<h2>Product Details</h2>

<div class="productDetails well">
        <h3>@Html.DisplayNameFor(model => model.ProductName):  @Html.DisplayFor(model => model.ProductName)</h3>
    <h3>@Html.DisplayNameFor(model => model.CountryOfOrigin) :  @Html.DisplayFor(model => model.CountryOfOrigin)</h3>
    <h3>@Html.DisplayNameFor(model => model.Cost):  $@Html.DisplayFor(model => model.Cost)</h3>
    
    @if (Model.Reviews != null)
    {
        <div class="reviews well">
            @foreach (var rev in Model.Reviews)
            {
                <h3>@Html.DisplayFor(r => rev.Description)</h3>
                <h3>@Html.DisplayFor(r => rev.AuthorName)</h3>
                <h3>@Html.DisplayFor(r => rev.Rating)</h3>
                <hr/>
            }
        </div>
    }

    <div id="reviewadd">

    </div>
</div>
<div class="options">
    <div class="row">
        <div class="col-md-3">
            <button type="button">@Html.ActionLink("Edit", "Edit", new { id = Model.ProductId })</button>
        </div>
        <div class="col-md-3">
            <button type="button">@Html.ActionLink("Back to Product List", "Index")</button>
        </div>
        <div class="col-md-3">
            <button class="createReview" type="button">Add Review</button>
        </div>
        <div class="col-md-3">
            <button type="button">@Html.ActionLink("Delete this Product", "Delete", new { id = Model.ProductId })</button>
        </div>
        <br><br>
    </div>
</div>
</body>