@model FritoLay.Models.Product

@{
    ViewData["Title"] = "Product - Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@if (User.Identity.IsAuthenticated)
{
    <h2>Edit Product Details</h2>

    <div class="productDetails well">
        @using (Html.BeginForm("Edit", "Product", FormMethod.Post, new { enctype = "multipart/form-data" }))
        {
        <div class="row">
            <h3>@Html.LabelFor(model => model.ProductName)</h3>
            @Html.EditorFor(model => model.ProductName)
        </div>
        <div class="row">
            <h3>@Html.LabelFor(model => model.CountryOfOrigin)</h3>
            @Html.EditorFor(model => model.CountryOfOrigin)
        </div>
        <div class="row">
            <h3>@Html.LabelFor(model => model.Cost)</h3>
            @Html.EditorFor(model => model.Cost)
        </div>
        @Html.HiddenFor(model => model.ProductId)
        <br/>
        <br/>
        <input type="submit" value="Save" class="btn btn-default" />
        }

        @if (Model.Reviews != null)
        {
            @foreach (var rev in Model.Reviews)
            {
            <div class="well">
                @rev.Description
               <h3>@Html.DisplayFor(r => rev.Description)</h3>
               <h3>@Html.DisplayFor(r => rev.AuthorName)</h3>
               <h3>@Html.DisplayFor(r => rev.Rating)</h3>
             </div>
            <hr/>
            }
        }
    </div>
}
else
{
        < h3 > @Html.ActionLink("Sign up", "SignUp", "User") </ h3 >
        < h3 > @Html.ActionLink("Log in", "Login", "User") </ h3 >
}